{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}
    {{ cliente.nome }}
{% endblock title %}
{% block content %}
    <header class="d-flex align-center justify-content-between border-bottom border-warning mb-3 pb-2">
        <h3>{{ cliente.nome }}</h3>
        <nav>
            <a href="{% url 'clientes:listar_clientes' %}"
               class="btn btn-outline-secondary">
                <i class="bi bi-chevron-double-left"></i>
            </a>
            <a href="{{ cliente.ver_cliente }}" class="btn btn-outline-secondary">
                <i class="bi bi-chevron-left"></i>
            </a>
            <a href="{{ cliente.criar_cliente }}" class="btn btn-outline-primary">
                <i class="bi bi-plus"></i>
            </a>
        </nav>
    </header>
    <main>
        <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            <div class="card card-body border-warning mb-3">
                <div class="mb-3">
                    <label for="nome" class="form-label mb-2">Nome</label>
                    <input type="text"
                           placeholder="{{ cliente.nome }}"
                           class="form-control"
                           disabled />
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label mb-2">Tipo de Cliente</label>
                    <input type="text"
                           placeholder="Pessoa {% if cliente.tipo_cliente == 'PF' %}Física{% else %}Jurídica{% endif %}"
                           class="form-control"
                           disabled />
                </div>
                <label class="form-label mb-2">Serviços</label>
                <div class="d-flex gap-3 mb-3">
                    <div class="form-check">
                        {% comment %} {% crispy_field form.alarme %} {% endcomment %}
                        {% comment %} <label class="form-label" for="{{ form.alarme.id_for_label }}">Alarme</label> {% endcomment %}
                        {{ form.alarme|as_crispy_field }}
                    </div>
                    <div class="form-check">
                        {% crispy_field form.camera %}
                        <label class="form-label" for="{{ form.camera.id_for_label }}">câmera</label>
                        {% comment %} {{ form.camera|as_crispy_field }} {% endcomment %}
                    </div>
                </div>
                <label class="form-label">Status</label>
                {{ form.ativo|as_crispy_field }}
                <div class="mb-3">{{ form.observacoes|as_crispy_field }}</div>
                <button class="btn btn-outline-warning w-25" type="submit">
                    <i class="bi bi-pencil"></i> Atualizar cliente
                </button>
            </div>
        </form>
    </main>
{% endblock content %}
