{% extends 'base.html' %}

{% block title %}
    Listagem de todos os Clientes
{% endblock title %}
{% block content %}
    <header class="d-flex align-center justify-content-between border-bottom mb-3 pb-2">
        <h3>Listar Clientes</h3>
        <a href="{% url 'clientes:criar_cliente' %}"
           class="btn btn-outline-secondary">
            <i class="bi bi-plus"></i>
        </a>
    </header>
    {% if clientes %}
        <main class="card card-body">
            <nav class="nav nav-underline mb-3">
                <a href="{% url 'clientes:listar_clientes' %}"
                   class="nav-link text-secondary {% if not tipo_servico %}active{% endif %}"
                   {% if not tipo_servico %}aria-current="page"{% endif %}>Todos</a>
                <a href="{% url 'clientes:listar_clientes_por_tipo_servico' tipo_servico='alarme' %}"
                   class="nav-link text-secondary {% if tipo_servico == 'alarme' %}active{% endif %}"
                   {% if tipo_servico == 'alarme' %}aria-current="page"{% endif %}>Alarme</a>
                <a href="{% url 'clientes:listar_clientes_por_tipo_servico' tipo_servico='camera' %}"
                   class="nav-link text-secondary {% if tipo_servico == 'camera' %}active{% endif %}"
                   {% if tipo_servico == 'camera' %}aria-current="page"{% endif %}>Câmera</a>
            </nav>
            {% for cliente in clientes %}
                <section class="{% if not forloop.last %}border-bottom mb-3{% endif %}">
                    <p>
                        <a class="{% if cliente.ativo %}link-dark{% else %}text-body-tertiary{% endif %} link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                           href="{{ cliente.ver_cliente }}">{{ cliente.nome }}</a> <span class="badge rounded-pill {% if cliente.ativo %}text-bg-secondary{% else %}text-bg-secondary{% endif %}">{{ cliente.tipo_cliente }}</span>
                    </p>
                    <p>
                        {% if cliente.alarme %}<span class="badge text-bg-secondary">Alarme</span>{% endif %}
                        {% if cliente.camera %}<span class="badge text-bg-secondary">Camera</span>{% endif %}
                    </p>
                </section>
            {% endfor %}
        </main>
    {% else %}
        <p>
            Num cliente foi cadastrado ainda.
            <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
               href="{% url 'clientes:criar_cliente' %}">Cadastre o primeiro</a>
        </p>
    {% endif %}
{% endblock content %}
